 *{
    margin: 0;
    font-family: font-family: 'Work Sans', sans-serif;
 }
 .btn-primary{
   height: 64px;
   font-size: 20px;
   font-weight: 600;
   color: white;
   background-color: orangered;
   border: 0px;
   padding: 18px 36px;
   align: center;
   margin-bottom: 20px;
   position: ;
 }
 .text-primary{
   color: orange;
 }
 
/* nav styles */
 nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;

    .nav-title{
        font-weight: 700;
        font-size: 45px;
        }
 }
 nav ul{
    display: flex;
 }
 nav li{
    list-style: none;
    margin-left: 50px;
 }
 /* banner styles */
 .banner{
    margin: 0 200px;
    
}
 .banner-title{
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;
 }
 .banner-description{
    color: darkred ;
    font-size: 18px;
    margin-bottom: 30px;
 }
 .btn-primary{
    width: 180px;
    height: 64px;
 }
 .img{
    max-width: 1440;
    max-height: 700;
    margin: 50px 200px;
 }
 /* main container styles */
 .container{
   display: grid;
   grid-template-columns: repeat(2 1fr);
   margin: 50px 2oopx;
   }
   /* style of first content */
 .first-content{
   display: flex;
   justify-items: center;
   
    gap: 20px;
    margin-top: 50px;
    margin-left: 200px;
 }
 .list-info{
   .text-align: center;
}
 
 .litst-title{
   color: orange ;
   margin-bottom: 50px;
 }
 list-description{
   font-size: 18px;
   font-weight: 400;
   margin-bottom: 50px;
 }
 .btn{
   width: 180px;
   height: 64px;
}
 /* style of second content */
 
 .feature-info{
   text-align-last: left;
 }
 .second-content{
   display: flex;
   margin-top: 50px;
   margin-left: 200px;
}
.features-info{
   align-items: center;
   margin-bottom: 50px;
}
.features-title{
  margin-bottom: 10px; 
}
.feature-description{
   margin-top: 5px;
   margin-bottom: 20px;
.feature sub-title{
   margin-top: 50px;
}
}
/* style of third content */
 .third-content{
   margin-top: 30px;
   margin-left: 200px;
}
.facts-title{
   margin-bottom: 20px;
}
.facts-description{
   font-size: 18px;
   margin-bottom: 50px;
}
.icon{
   display: flex;
   gap: 20px;
   margin-top 80px;
   border: 5px;
   border-color: orange;
}
.icon-rate{
   font-size: 30px;
   font-weight: 800;
   margin-top: 10px;
   margin-bottom: 20px;
}
.icon-title{
   font-size: 24px;
   font-weight: 700;
}
/* styles of  fourth content */
.sponsor-symbool{
   display: flex;
   gap: 20px;
   margin-top: 30px;
   margin-bottom: 20px;
   margin-left: 200px;
}
.fourth-content{
   margin-top: 50px;
   margin-left: 200px;
}
.sponsor-title{
   font-size: 24px;
   font-weight: 700;
   margin-bottom: 30px;
   text-align: center;
}
.sponsor-description{
   ont-size: 18px;
   margin-bottom: 50px; 
   text-align: center; 
}
   /*footer styles  */
footer{
   background-color: peru;
   text-align: center;
}   
 